<footer>
	<div class="container">
		<div class="d-flex flex-wrap justify-content-center">
			<div class="col-xs-11 col-lg-4 col-md-offset-1 justify-content-center">
				<a href="https://github.com/yadneshSalvi">
					<i href="" class="fa fa-github icon"></i>
					yadneshSalvi
				</a>
			</div>
			<div class="col-xs-11 col-lg-4 col-md-offset-1 justify-content-center">
				<a href="https://www.linkedin.com/in/yadnesh-salvi-bb5151ba/">
					<i href="" class="fa fa-linkedin icon"></i>
					yadnesh-salvi-bb5151ba
				</a>
			</div>
			<div class="col-xs-11 col-lg-4 col-md-offset-1 justify-content-center">
				<a href="https://medium.com/@yadneshujwal">
					<i href="" class="fa fa-medium icon"></i>
					@yadneshujwal
				</a>
			</div>
			<div class="col-xs-11 col-lg-4 col-md-offset-1 justify-content-center">
				<i href="" class="fa fa-envelope icon"></i>
				yadneshujwal@gmail.com
			</div>
	</div>
</footer>
